<html>
  <head>
    <title>Video stream sample</title>
  </head>
  <body>
    <h1>hello</h1>
    <form  method="post" enctype="multipart/form-data">
      <input type="file" name="video" id="">
      <button type="submit">Upload</button>
    </form>
    </video>
  </body>
</html>